services:
  gateway:
    image: nginx
    volumes:
      - ./etc/nginx.conf:/etc/nginx/nginx.conf
      - ./etc/htpasswd:/etc/nginx/conf.d/.htpasswd
      - ./etc/cert.pem:/etc/nginx/cert.pem
      - ./etc/cert.key:/etc/nginx/cert.key
    ports:
      - "8443:443"
  alto-frontend:
    image: openalto/alto
    volumes:
      - ./src/alto:/usr/local/lib/python3.10/site-packages/alto
      - ./etc/alto.conf:/opt/alto/etc/alto.conf
    entrypoint: gunicorn
    command: ["-b", "0.0.0.0:8000", "--reload", "alto.server.northbound.wsgi", "--preload", "--capture-output"]
  # alto-lg-agent-cern:
  #   image: openalto/alto
  #   volumes:
  #     - ./etc/lg-agent.json:/etc/lg-agent-cern.json
  #     - ./etc/alto.conf:/opt/alto/etc/alto.conf
  #   entrypoint: python
  #   command: ["-m", "alto.agent.manage", "--pid", "/tmp", "start", "-c", "/etc/lg-agent-cern.json", "-D", "cernlg"]
  #   network_mode: "service:alto-frontend"
  alto-lg-agent-geant:
    image: openalto/alto
    volumes:
      - ./etc/lg-agent-geant.json:/etc/lg-agent-geant.json
      - ./etc/alto.conf:/opt/alto/etc/alto.conf
    entrypoint: python
    command: ["-m", "alto.agent.manage", "--pid", "/tmp", "start", "-c", "/etc/lg-agent-geant.json", "-D", "geantlg"]
    network_mode: "service:alto-frontend"
  alto-cric-agent:
    image: openalto/alto
    volumes:
      - ./etc/cric-agent.json:/etc/cric-agent.json
      - ./etc/alto.conf:/opt/alto/etc/alto.conf
    entrypoint: python
    command: ["-m", "alto.agent.manage", "--pid", "/tmp", "start", "-c", "/etc/cric-agent.json", "-D", "cric"]
    network_mode: "service:alto-frontend"
  alto-db:
    image: redis
    network_mode: "service:alto-frontend"
  alto-client:
    image: curlimages/curl
    volumes:
      - ./tmp/request.json:/request.json
      - ./tmp/pvtest.sh:/pvtest.sh
      - ./etc/cert.pem:/etc/cert.pem
      - ./etc/cert.key:/etc/cert.key
    entrypoint: sh
    command: ["-c", "tail -f /dev/null"]
